:root {
    --dark : #19283f ;
    --green : #33d1cc ;
    --red : #ff3150 ;
    --yellow : #ffc400 ;
    --light : #eff7fa ;
}

* {
    font-family: 'Roboto', sans-serif;
}

.main-btn {
    background-color: var(--red);
    color: var(--yellow);
    padding: 0.5rem 1rem;
    border: none;
}

.main-btn:hover {
    background-color: var(--yellow);
    color: var(--red);
}


/*start-nav*/

.navbar {
    background-color: var(--dark);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--green);
}

.navbar .search {
    border-left: 1px solid var(--green);
}

.navbar .search i {
    color: var(--green);
}

.navbar .navbar-toggler {
    color: white;
    border: 1px solid white;
    font-size: 25px;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
    border-color: var(--green);
}

/*end-nav*/

/*start-landing*/

.landing{
    background-color: var(--dark);
    min-height: calc(100vh - 72px);
}

/*end-landing*/

/*start-features*/

.main-title::after{
    content: '';
    position: absolute;
    bottom: -20px;
    width: 120px;
    height: 2px;
    background-color: var(--green);
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder {
    height: 200px;
}

.features .feat h4 {
    color: var(--yellow);
}

.features .icon-holder i {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--light);
}

.features .icon-holder .icon {
    color: var(--green);
}

/*end-features*/

/*start-ourwork*/

.our-work {
    background-color: var(--light);
}

.active {
    background-color: var(--red);
    color: var(--yellow);
}

.our-work ul li {
    cursor: pointer;
    transition: 0.3s;
}

.our-work ul li:not(.active):hover {
    color: var(--red);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .box::before {
    content: attr(data-work);
    width:calc( 100% - 10px);
    height: calc( 100% - 10px);
    position: absolute;
    background-color: rgba( 0, 0 , 0 , 0.5);
    font-weight: bold;
    color: white;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transform: translateX(calc( -100% - 10px));
}

.our-work .box:hover::before {
    transform: translateX(0);
}
/*end-ourwork*/

/*Team*/

.team {
    background-color: var(--light);
}

.team-title {
    color: var(--yellow);
}

/*/Team*/

/*team*/

.Teambox {
    width: 260px;
    height: 400px;
    padding: 0;
}

.Teambox h5 {
    width: 100%;
    color: white;
    background-color: var(--green);
}

/*/team*/

/*project*/

.project{
    width: 100%;
    height: 400px;
    background-color: var(--dark);
    color: white;
}
/*/project*/

footer {
    background-color:var(--light);
}